.default {
    /* font-family: 'Finger Paint', cursive; 
     font-family: playSign;*/
     text-align: center;
     padding: 25px;
     margin: 25px;
 }
     
 .testo{
     font-family: playSign;
     font-size: xx-large;
     text-align: center;
     width: 80%;
 }
        
 .entrata{
     margin-top: 16px;
     margin-right: 8px;
     text-align: right;
     color: black;
 }
        
 .componente{
 text-align: center;
 }
 
 .firma{
     text-align: right;
     margin: 16px;
 }