<div class="presentation">
  <div class="default">

    <img src="assets/img/testo1.png" class="mx-auto d-block" style="width:100%">
  </div>
  <div class="entrata">
    <a routerLink="/sign-in"> <img src="assets/img/entra.png" style="width:50%"></a>
  </div>
  <div class="default">
    <img src="assets/img/campo_animato.gif" class="mx-auto d-block" style="width:100%">

  </div>
  <h3>GIOCA RESPONSABILMENTE!</h3>
  <div class="firma">
    <a href="https://www.linkedin.com/in/emanuele-de-carlo-12361199"><img src="assets/img/firma.png" style="width:20%"></a>
  </div>

</div>